:root {
    --color-primary: rgba(48, 77, 109, 1);
    --color-1: rgba(84, 94, 117, 1);
    --color-2: rgba(99, 173, 242, 1);
    --color-3: rgba(167, 204, 237, 1);
    --color-4: rgba(130, 160, 188, 1);
}